/*
 Use full-screen map
 */
#map {
  height: 100%;
  width: 100%;
}

/*
 Set absolute position so other items can overlay it
 */
#map {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}

.overlay {
  position: relative;
  z-index: 2;
  background: white;
}

.location-control {
  background-color: white;
  border: grey;
  width: 30px;
  height: 30px;
  display: inline-block;
  border-radius: 8px;
}

.location-icon {
  width: 1.2em;
  height: 1.2em;
}
