/* You can add global styles to this file, and also import other style files */
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

body {
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

.overlay {
  position: relative;
  z-index: 2;
  background: white;
}

.location-control {
  background-color: white;
  border: grey;
  width: 30px;
  height: 30px;
  display: inline-block;
  border-radius: 8px;
}

.location-icon {
  width: 1.2em;
  height: 1.2em;
}
